<h1>Listing products</h1>

  <% if user_signed_in? %>
    <% if current_user.first_name =="edmr" && current_user.last_name =="admin" %>
     <%= link_to 'New Product', new_product_path %><br>
    <%end%>
 <%end%>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>Price</th>
      <th>Image</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>

    <% @products.each do |product| %>
      <tr>

        <td><%= link_to product.title , product %></td>
        <td><%= product.details %></td>
        <td><%= product.price %></td>
        <td><%= image_tag product.image.url( :medium) %></td>

        
      </tr>
    <% end %>
  </tbody>


</table>

<br>

   




